.git
.github
.venv
.env
.env.*
!.env.example
.ai
data*
Logs
notebooks
tests
documentation/etp-slider
*.md
!README.md
!docker/README.md
__pycache__
*.pyc
.pytest_cache
.ruff_cache
.DS_Store
*.amltmp
.amlignore
